table {
    border: 2px solid gray;
    border-collapse: collapse;
}
th {
    border: 2px solid gray;
    padding: 10px 16px;
    text-align: center;
    width: 2rem;
    height: 2rem;
    text-align: center; 

}
td {
    border: 2px solid gray;
    padding: 10px 16px;
    text-align: center;
    width: 2rem;
    height: 2rem;
    text-align: center; 
    color: transparent;
}
td:hover {
    color: rgb(131, 78, 78);
}
